<{ include_css() }>
<% extends settings.template.admin %>
<% block title %>Control Panel | <{super()}><% endblock %>
<% block body %>
    
    <% if sesuser.has_perm('users-manage') %>
    <div class="module_wrapper">
        <h2>Users</h2>
        <ul class="link_group">
            <li><a href="<{ url_for('users:Manage')}>">Manage Users</a></li>
            <li><a href="<{ url_for('users:GroupManage')}>">Manage Groups</a></li>
            <li><a href="<{ url_for('users:PermissionManage')}>">Manage Permissions</a></li>
        </ul>
    </div>
    <% endif %>
<% endblock body%>